{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div style="text-align: center;">
    <h1>ABOUT US</h1>
  </div>

  <p style="text-align: justify;">
    <h3><b>What’s an alumni network?</b></h3>
    Every educational institution has an alumni network, formal or not, and they’re used for a wide range of things. Alumni can build business connections, organize reunions, and serve as shining examples of the kind of people that their institution produces. It’s very useful for those who are genuinely interested in the lives of their old classmates and like to see what they’re up to.

    <h3><b>How can I get involved?</b></h3>
    Typically, these groups are headed up by an alumni coordinator. This is someone who’s there to help set up cool networking events, bring students together, and create a space where everyone can stay connected and made aware of what’s going on with former peers. It’s a complex job that involves working hard to connect people.

    Look out for their emails asking you to update contact details, and if there’s an alumni newsletter, sign up for it. You can also connect over LinkedIn and join any other official alumni groups that exist across social media. Reaching out via email and simply engaging with your fellow alums is also a great step, as the community can only be effective if its members engage with each other!

    <h3><b>How can I benefit?</b></h3>
    School can be expensive, and we all know it’s hard work. People may not realize it, but education is so much more than just the qualifications you receive at the end. It’s about the lessons you learn, the people you meet, and the relationships you build. So why would you expect to leave all of that behind after graduation?

    Alumni networks provide the long-term value to an educational institution by giving alumni the chance to stay in contact and continue to learn from each other long after they have left school.

    Support networks are hard to come by out there in the world, and having a ready-made one full of people with shared experiences just waiting to connect is a luxury that few can afford to turn down. When you can, join your school’s alumni network.
  </p>
{% endblock %}
