{% extends 'alumni_dashboard.html' %}


{% extends 'admin_dashboard.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="d-xl-flex justify-content-between align-items-start">
    <h2 class="text-dark font-weight-bold mb-2">Overview dashboard</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal">User Count</h5>
                <h2 class="mb-4 text-dark font-weight-bold">{{ user_count }}</h2>
                <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent">
                    <i class="mdi mdi-lightbulb icon-md absolute-center text-dark"></i>
                </div>
                <p class="mt-4 mb-0">Total Users</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="mb-2 text-dark font-weight-normal">Feedback Count</h5>
                <h2 class="mb-4 text-dark font-weight-bold">{{ feedback_count }}</h2>
                <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent">
                    <i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i>
                </div>
                <p class="mt-4 mb-0">Total Feedback</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
